body {
    font-family: Times;
}

a {
    color:#048776;
    text-decoration: none;
}

button {
    display: inline-block;
    margin: 10px;
    font-size: 100%;
    background-color: #048776;
    border-radius: 5px;
    padding: 2px 7px;
    color: black;
    border: 0;
}

.options button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px
}

.feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: red;
    border-top: 2px solid gray;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 500px;
}